@charset "UTF-8";
/* CSS Document */

#doc .ui-widget-content { color: #a3a56e; background: none; border: none; }
.jr_tabs .ui-widget-content a { color: #391D0D; }

.jr_tabs .ui-widget-header { border: none; background: none; color: #aec3aa; font-weight: bold; }
.jr_tabs .ui-widget-header a { color: #aec3aa; }

#doc .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: none; background: none; }
#doc .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #f7ffcc; text-decoration: none; }
#doc .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: none; background: none; }
#doc .ui-state-hover a, .ui-state-hover a:hover { color: #fff; text-decoration: none; }
#doc .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {  }

#doc .ui-tabs-nav .ui-state-active a, #doc .ui-tabs-nav .ui-state-active a:link, #doc .ui-tabs-nav .ui-state-active a:visited { color: #586A11; text-decoration: none; background: url(../../beez/images/bg-paper.png) top left repeat; font-weight: bold; -webkit-border-top-right-radius: 6px; -moz-border-radius-topright: 6px; border-top-right-radius: 6px; -webkit-border-top-left-radius: 6px; -moz-border-radius-topleft: 6px; border-top-left-radius: 6px;  }

#doc .ui-corner-tl, .ui-corner-tr, .ui-corner-bl, .ui-corner-br, .ui-corner-top, .ui-corner-bottom, .ui-corner-right, .ui-corner-left, .ui-corner-all { -moz-border-radius: 0; -webkit-border-radius: 0px; border-radius: 0; }

#doc .ui-tabs { position: relative; padding: 0; zoom: 1; } 
#doc .ui-tabs .ui-tabs-nav { margin: 0; padding: 0; float: left; background: #586A11; -webkit-border-top-right-radius: 6px; -moz-border-radius-topright: 6px; border-top-right-radius: 6px; -webkit-border-top-left-radius: 6px; -moz-border-radius-topleft: 6px; border-top-left-radius: 6px;  }

#doc .ui-tabs .ui-tabs-nav li { list-style: none; float: left; position: relative; margin: 0; border-bottom: 0 !important; padding: 0; white-space: nowrap; top: 0; }

#doc .ui-tabs .ui-tabs-nav li a { float: left; padding: 10px 20px; text-decoration: none; }
	 .ui-tabs .ui-tabs-nav li a { background: url(../../beez/images/bg-menu-shadow.png) 100% 100% no-repeat;  }


#doc .ui-tabs .ui-tabs-panel { background: url(../../beez/images/bg-paper.png) top left repeat; color: #4c5c0e; -webkit-border-bottom-right-radius: 6px; -moz-border-radius-bottomright: 6px; border-bottom-right-radius: 6px; -webkit-border-bottom-left-radius: 6px; -moz-border-radius-bottomleft: 6px; border-bottom-left-radius: 6px; -webkit-border-top-right-radius: 6px; -moz-border-radius-topright: 6px; border-top-right-radius: 6px; clear: both; padding: 15px; }

