/* PAGINATION CONTROLS  */
table.jr_pagination {
	width:100%; 
	line-height:1.5em; 
	font-weight:normal; 
	border-top:1px solid #CCC; 
	border-bottom:1px solid #CCC; 
	margin-bottom: 10px;
	}
	
table#jr_pagination_top { 
	border-top:0; 
	border-bottom:0; 
	margin-bottom: 5px;
	}
	
table.jr_pagination td	{
	padding:5px; 
	vertical-align:middle;
	white-space: nowrap; 
	font-size: 90%;
	}

td.jr_pagenav_results {
	width: 20%
	}

td.jr_pagenav_pages {
	text-align:center;  
	}

td.jr_pagenav_limitbox {
	width: 20%;
	text-align:right; 
	}
	
td.jr_pagenav_limitbox select {
	font-size: 10px !important; 
	height: 1.7em;
	width: auto !important;
	}	
	
a {font-size: 1.25em;}

a.paginate:link,
a.paginate:active,
a.paginate:visited {
    border: 1px solid #999;
	padding: 0 2px;
    text-decoration: none;
    color: #000080;
}
a.current:link,
a.current:active,
a.current:visited {
	color:#000;
	border: solid 1px #999;
	padding: 0 2px;
	background-color: #CFCFCF;
	text-decoration:none;   
	}
a.paginate:hover,
a.current:hover {
	background-color: #ddd;
	text-decoration:none;
}
	
span.inactive {
	color:#999;
	border: solid 1px #999;
    padding: 2px 4px 2px 4px;
}