/*************************************
JR LISTINGS PLUGIN
*************************************/
div.jr_listings_plugin { 
	border-top: solid 0px #ccc;
	padding-top: 5px; 
	}
	
div.jr_listings_plugin .listItem	{
	float: left; 
	padding-right: 10px; 
	margin: 0;
	}
	
div.jr_listings_plugin .contentTitle	{
	font-size: 11px !important;
	}
	
div.jr_listings_plugin .contentTitle a {
	font-size: 11px !important;
	}
	
div.jr_listings_plugin .contentInfo	{
	padding: 0 0 .4em 0}

div.jr_listings_plugin .contentIndicators	{
	display: none;
	}
	
div.jr_listings_plugin .contentThumbnail {
	margin: 0;
	overflow:visible;
	}	
		
div.jr_listings_plugin .contentThumbnail img {
	border: 1px solid #CCC;	
	}	

div.jr_listings_plugin .listItem .jr_modColumn1 {
	padding: 0 5px 0 0;
	}
		
div.jr_listings_plugin .listItem .contentheading a {
	font-size: 11px; 
	font-weight:bold;
	}
	
div.jr_listings_plugin .jr_category {
	font-size: 10px; 
	}	

div.jr_listings_plugin .jr_category a {
	font-size: 10px; 
	}	

div.jr_listings_plugin table.rating_table	{
	margin-bottom: 0px;
	}
	
div.jr_listings_plugin table.rating_table	td.rating_label {
	width: 14px;
	display:none;
	}	
	
div.jr_listings_plugin table.rating_table	td.rating_stars {
	width: 60px;
	}
	
div.jr_listings_plugin div.jr_divider {
	border-bottom:1px solid #CCCCCC;
	clear:both;
	height:1px;
	margin-bottom:10px;
	margin-top:10px;
	width:100%;
}


/*************************************
JR FIELDS MODULE
*************************************/
div.jr_reviews_plugin { 
    border-top: solid 0px #ccc;
    padding-top: 5px; 
    }
    
div.jr_reviews_plugin .listItem    {
    float: left; 
    padding-right: 10px;
    margin-bottom: 5px;
    }
    
div.jr_reviews_plugin .contentTitle    {
    font-size: 11px !important;
    }
    
div.jr_reviews_plugin .contentTitle a {
    font-size: 11px !important;
    }    

div.jr_reviews_plugin .contentInfo    {
    padding: 0 0 .4em 0}

div.jr_reviews_plugin .contentIndicators    {
    display: none;
    }
    
div.jr_reviews_plugin .contentThumbnail {
    margin: 0;
    overflow:visible;
    }    
        
div.jr_reviews_plugin .contentThumbnail img {
    border: 1px solid #CCC;    
    }    

div.jr_reviews_plugin .listItem .jr_modColumn1 {
    padding: 0 5px 0 0;
    }
        
div.jr_reviews_plugin .listItem .contentheading a {
    font-size: 11px; 
    font-weight:bold;
    }
    
div.jr_reviews_plugin .jr_category {
    font-size: 10px; 
    }    

div.jr_reviews_plugin .jr_category a {
    font-size: 10px; 
    }    

div.jr_reviews_plugin table.rating_table    {
    margin-bottom: 0px;
    }
    
div.jr_reviews_plugin table.rating_table td.rating_label {
    width: 14px;
    display:none;
    }    
    
div.jr_reviews_plugin table.rating_table td.rating_stars {
    width: 60px;}
    
div.jr_reviews_plugin .comments {
    font-size:95%;font-style:italic;}    

div.jr_reviews_plugin .reviewer {
    font-size:70%;}    
    
div.jr_reviews_plugin div.jr_divider {
    border-bottom:1px solid #CCCCCC;
    clear:both;
    height:1px;
    margin-bottom:10px;
    margin-top:10px;
    width:100%;}    
