/*************************************
New content item button/link
*************************************/
.jr_itemList_new {
	display:inline; 
	float:right; 
	height:18px; 
	text-indent: 22px; 
	margin-left: 4px; 
	margin-right: 4px; 
	background-repeat:no-repeat; 
	background-image:url(images/page_add.gif); 
	}

.jr_itemList_new a:link, 
.jr_itemList_new a:visited, 
.jr_itemList_new a:hover {
	font-size: 110%; 
	font-weight: normal;
	}


/*************************************
Selecting listings for comparison
*************************************/	

#jr_compareListings {
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
	z-index: 2000;
	background: #f0f0f0;
	border: 1px solid #ccc;
	margin: 0;
	padding: 0;
	-webkit-box-shadow: 0px -1px 6px #ccc;
	-moz-box-shadow: 0px -1px 6px #ccc;
	box-shadow: 0px -1px 6px #ccc;
}

#jr_compareListingsInnerTop {
	height: 25px;
	text-align: center;
	line-height: 25px;
	cursor: pointer;
	
}

#jr_compareListingsInner {
	position: relative;
	width: 950px;
	margin: 0 auto;
	padding: 0;
}

div.listingTypeCompare {
	padding-top: 5px;
}

div.listingTypeTitle {
	height: 25px;
	line-height: 25px;
	margin: 0;
	padding: 0 10px;
	background: #ddd;
	cursor: pointer;
}

div#jr_compareListings #compareTitle {
	font-weight: bold;
	font-size: 14px;
	text-align: center;
}	

div#jr_compareListings ul {
	margin: 0;
	padding: 2px 0 10px 0;
	list-style: none;
}

div#jr_compareListings ul li {
	margin: 5px 0 0 0;
	list-style: none;
	padding: 0 10px;
	float: left;
	width: 90%;
}

#jr_compareListings img.compareThumb{
	float: left;
	width: 25px; 
	height: 25px;
	border: 0;
}

span.compareListing {
	margin-left: 10px;
	white-space: nowrap;
}

span.compareListing label.lbCompare {
	color: #0B55C4; 
	cursor: pointer;
	display: inline;
}
span.compareItemTitle{
	float: left;
	padding-left: 10px;
	height: 25px;
	line-height: 22px;
	font-size: 13px;	
}

span.removeItem {
	float: left;
	margin: 4px 0 0 10px;
	cursor: pointer;
	width: 15px;
	height: 15px;
	background: url('images/remove.png');
	text-indent: -9999px;
}

#jr_compareListings a.compareListings:link, #jr_compareListings a.compareListings:visited, #jr_compareListings a.removeListings:link, #jr_compareListings a.removeListings:visited {
	float: right;
	font-size: 12px;
	background: #777;
	color: #fff;
	height: 17px;
	line-height: 16px;
	padding: 0 5px;
	margin: 4px 0;
	text-decoration: none;
}

#jr_compareListings a.removeListings:link, #jr_compareListings a.removeListings:visited {
	margin-left: 20px;
}

#jr_compareListings a.compareListings:hover, #jr_compareListings a.removeListings:hover {
	background: #999;
	color: #fff;
}

p.comparisonMessage {
	color: #f00;
	font-size: 12px;
	margin: 0 0 5px 30px;
}

/*************************************
TABLEVIEW:for list views of type "table"
Tip: for visual consistency, try to align the styles below to your general Joomla template (e.g., template.css)
*************************************/
div.jr_tableview table {
	border-collapse: collapse;
	}

div.jr_tableview th {
    padding: .2em 1em .2em 0; 
	border-top:1px solid #CCC; 
	border-bottom:1px solid #CCC; 
	background-color: #f9f9f9;
	}
	
div.jr_tableview th.columnFirst {
	padding: .3em 2em .3em 5px;}

div.jr_tableview th.columnMain {
	width: 100%; }

div.jr_tableview th.columnLast  {
	padding: .3em 5px .3em 0;}

div.jr_tableview th.columnCompare  {
	padding: .3em 5px .3em 0;}	
	

/****** Odd/Even table rows: optionally define background color *****
RECOMMENDATION: for consistency, align with your settings for the core Joomla classes "sectiontableentry1" and "sectiontableentry2"  */
div.jr_tableview tr.row1 td {
	background-color: #fff;}

div.jr_tableview tr.row2 td {
	background-color: #f3f3f3;}

div.jr_tableview td,
div.jr_tableview td.columnFirst,
div.jr_tableview td.columnMain,
div.jr_tableview td.columnHits,
div.jr_tableview td.columnLast {
	padding: 15px 2em 15px 0; 
	vertical-align:top; 
	border-top: solid 1px #ccc; 
	}

div.jr_tableview td.columnFirst {
	padding: 15px 2em 15px 5px; 
	}

div.jr_tableview td.columnMain {
	width: 100%; }
	
div.jr_tableview div.contentActions {
	border: 0; padding: 0;}

div.jr_tableview td.columnLast  {
	padding: 15px 5px 15px 0; }

div.jr_tableview td.columnCompare  {
	text-align: center;
	vertical-align: middle;}			
		
div.jr_tableview .jr_customFields	{
	margin-top: 0;
	margin-bottom: 1em;}

div.jr_tableview .fieldGroupTitle { /*hide the fieldgroup title in the list view */
	display:none;
	} 

div.jr_tableview .fieldGroup { /*no spacing between field groups in list view: make it look like one table */
	padding:0 0 0 0;
	} 

div.jr_tableview table.fieldGroupTable td	{
	padding: 2px .5em 2px 0; 
	border: 0;}
	
div.jr_tableview table.rating_table td	{
	padding: 2px .5em 2px 0; 
	border: 0 !important;}

	
/*************************************
BLOGVIEW - for list views of type "blog"
*************************************/
/* Container <div> for all items in the list */
div.jr_blogview {}
	
/* Container <div> for individual list items  */
div.jr_blogview div.listItem {
	clear:both; 
	border-top: solid 1px #ddd; 
	margin: 0 0 10px 0 !important; 
	padding-top: 0px; 
	}

div.jr_blogview div.contentTitle, 
div.jr_blogview div.contentTitle a {
	font-size: 20px; 
	font-weight:normal; 
	line-height:1.3em;}

div.jr_blogview div.contentActions {
	border: 0; 
	padding: 0;}


div.jr_blogview div.contentSubtitle {
	margin-bottom: .7em; 
	}

div.jr_blogview .jr_customFields	{
	margin-top: 0;
	width: 60%;
	}

div.jr_blogview .jr_customFields h3	{ /*hide the fieldGroup title when in list views! */
	display:none;
	}

div.jr_blogview div.contentInfo {
    padding: 0 0 0 0;
    }
        
div.jr_blogview div.contentInfoContainer {
    background:#F2F2F2 none repeat scroll 0 0;
    border-bottom:1px solid #DDDDDD;
    margin-bottom:10px;
    padding:5px;
    }    

/***** container for the thumbnail and content ratings *****/
div.jr_blogview .contentColumn {
	float: right; 
	margin: 0 0 20px 20px;  
	text-align:center;
    /*width: 150px;*/
	}
	
div.jr_blogview table.rating_table {
	float: right; 
    /*margin-bottom: 20px;*/  
	}

div.jr_blogview div.contentThumbnail	{
	float: left;
	clear: left;
	border:solid 1px #ccc;
	padding:1px;
	}
	
div.jr_blogview .rating_bar_user,
div.jr_blogview .rating_bar_editor{
	width: 58px; 
	margin-top: 5px;
	margin-bottom: 0; 
	}

div.jr_blogview .rating_star_user,
div.jr_blogview .rating_star_editor {
	width: 78px; 
	margin-top: 5px;
	margin-bottom: 0; 
	}


/*************************************
THUMBVIEW -for list views of type "thumbnail"
*************************************/
div.jr_thumbview {  /* Container <div> for all items in the list */
	border-top: solid 1px #ccc;
	padding-top: 15px; 
	}

div.jr_thumbview .listItem	{
	overflow: hidden; 
	height: 225px;  
	float: left; 
	width:22%; 
	padding: 0; 
	margin: 0 2% 0 0; 
	}

div.jr_thumbview .contentTitle	{
	font-size: 13px;
	height: 2.5em	}

div.jr_thumbview .contentTitle a {
	font-size: 13px;
	}

div.jr_thumbview .contentIndicators	{
	display: none;
	}

div.jr_thumbview .contentThumbnail {
	border: solid 1px #ccc;
	padding: 1px;
	margin: 0 0 5px 0;
	width: auto;
	height: 120px;
	overflow:hidden;
	}	

div.jr_thumbview .contentThumbnail img {
	display:block;
	margin-left: auto;
    margin-right: auto;
	width: auto;
	height: auto;
	}	

div.jr_thumbview .contentheading a {
	font-size: 13px; 
	font-weight:bold;
	}
	
div.jr_thumbview .compareRow	{
	margin-bottom: 15px;}	

div.jr_thumbview table.rating_table	{
	margin-bottom: 10px;
	}

div.jr_thumbview .contentActions { /* hide them in basic thumbnail view */
	border-width: 0;
	padding: 0;
	margin: 0 0 0 0;
	}	

div.jr_thumbview .contentActions a {
	font-size: .85em;
	padding-left: 13px !important;
	margin-right: 8px;}	


/****** OVERRIDES FOR STYLE VARIATION: THUMBVIEW HORIZONTAL ORIENTATION ******/
#jr_thumbview_horiz .listItem	{
	height: 100px; 
	overflow: hidden;  
	float: left; 
	width:32%; 
	padding: 0; 
	margin: 0 1% 20px 0; 
	}

#jr_thumbview_horiz .contentThumbnail {
	float: left;
	margin: 0 10px 0 0;
	border: 0;
	width: 20px;
	height: 80px;
	overflow:hidden;
	}	
	
#jr_thumbview_horiz .contentThumbnail img {
	width: 55px !important;
	height: auto;
	}	

#jr_thumbview_horiz .listItem .column2{
	float: left;
	width: 155px;
	}

#jr_thumbview_horiz .contentActions a {
	display:block;
	line-height: 18px;
	}	

/*************************************
COMPAREVIEW - listing comparison page
*************************************/

#jr_compareview {
	overflow: hidden;
}

#jr_compareview .comparisonHeader{
	float: left;
	width: 22%;
	text-align: left;
}

#jr_compareview .comparedListings{
	float: left;
	width: 78%;
}	

#jr_compareview .compareField{
	background: #fff; 
	min-height: 15px;
	line-height: 15px;
	padding: 8px;
}

#jr_compareview .compareField.alt{
	background: #f5f5f5; 
}	

#jr_compareview .itemUserRating.compareField, #jr_compareview .itemEditorRating.compareField{
	padding: 3px 5px;
    height: 20px;
}
#jr_compareview .comparisonHeader .compareField{
	background: #f8f8f8;
	padding-left: 15px;
	font-weight: 600;
}

#jr_compareview .comparisonHeader .compareField.alt{
	background: #f0f0f0; 
	padding-left: 15px;
	font-weight: 600;
}

#jr_compareview .fieldGroup.compareField{
	text-transform: uppercase; 
	font-size: 12px;
	font-weight: normal;
	background: #eee;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 6px;
	font-weight: normal;
}

#jr_compareview  .itemTitle.compareField{
	background: #fff; 
	margin-top: 5px;
}

#jr_compareview  .itemThumbnail.compareField{
	min-height: 100px;
	background: #fff; 
}

#jr_compareview  .itemSummary.compareField{
	background: #fff; 
}

#jr_compareview .rating_star_user {
	margin: 3px auto;
}

#jr_compareview .rating_star_editor {
	margin: 3px auto;
}
	

div.scrollbarArea {
	height: 30px;
	padding-top: 10px;
}
img.removeListing {cursor: pointer; width: 15px; height: 15px; margin: 0 0 -3px 5px; }

	
/*********** jQuery UI Scrollbar ***********/	
.scroll-pane { overflow: auto; width: 99%; float:left; }
.scroll-content { float: left; margin-bottom: 20px;}
.scroll-content-item { float: left; margin: 0; padding: 0; border: 0;  text-align: center; overflow: hidden;}
* html .scroll-content-item { display: inline; } /* IE6 float double margin bug */
.scroll-bar-wrap { clear: left; padding: 0 4px 0 2px; margin: 0 -1px -1px -1px; }
.scroll-bar-wrap .ui-slider { background: none; border:0; height: 2em; margin: 0 auto;  }
.scroll-bar-wrap .ui-handle-helper-parent { position: relative; width: 100%; height: 100%; margin: 0 auto; }
.scroll-bar-wrap .ui-slider-handle { top:.2em; height: 1.5em; }
.scroll-bar-wrap .ui-slider-handle .ui-icon { margin: -8px auto 0; position: relative; top: 50%; }	


/*************************************
CMSBLOG - for core list views of type "frontpage","blogcategory","blogsection"

NOTE: because of the way J! draws blog entries, jr_pgContainer must be wrapped around *each listItem*.  In addition, jr_cmsblog should be added to that div, such that <div class="jr_pgContainer jr_cmsblog"><div class="listItem">...</div></div>
*************************************/
div.jr_cmsblog	{
	text-align:left;}

div.jr_cmsblog div.contentTitle, 
div.jr_cmsblog div.contentTitle a {
	font-size: 20px; font-weight:normal;
	}

div.jr_cmsblog div.contentInfo {
	padding: 0 0 0 0;
	}

div.jr_cmsblog table.rating_table	{
	margin-bottom: 7px;
	}

div.jr_cmsblog td.rating_stars	{
	padding: 2px 5px 2px 0;
	}
	
div.jr_cmsblog td.rating_value	{
	padding: 2px 20px 2px 2px;
	}
	
div.jr_cmsblog .jr_customFields	{
	margin-top: 0;
	}

div.jr_cmsblog .jr_customFields h3	{ /*hide the fieldGroup title when in list views! */
	display:none;
	}
	
div.jr_cmsblog .contentThumbnail	{
	float:right;
	text-align:right;
	margin: 0 0 20px 20px;
	border:solid 1px #ccc;
	padding:1px;	
	}
