/* Toolbar */

.icon-48-ndlogo {
	background: url(../images/icon-48-nd.png) no-repeat left;
}

.icon-32-ndlogo {
	background-image: url(../images/icon-32-nd.png);
}

.icon-16-ndlogo {
	background: url(../images/icon-16-nd.png) no-repeat left;
}


